

.brandsContainer{
 min-height: 220px;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: space-around;
 margin: 120px 40px;
}
.brandsTitle{
    font-size: 1.5em;
    margin: 0 0 60px 0;
}
.brands{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.brandsImg{
    height: 50px;
    margin: 20px;
}

@media (max-width: 600px) {
    .staffContainer{
        height: auto;
       flex-direction: column;
       }
}




